<!DOCTYPE html>
<html lang="en">

<%-include('layouts/header');-%>

<body>

  <!-- Navigation -->
  <%-include('layouts/navbar');-%>

  <!-- Page Header -->
  <header>
    <h1>To tweet</h1>
  </header>

  <!-- Main Content -->
  <div>
    <div>
      <div>

        <% if(errors != null && errors.length > 0){ %>
          <ul class="list-group">
          <% for(var i=0; i < errors.length; i++) { %>
            <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
            <% } %>
          </ul>
        <% } %>

        <form action="/tweets/store" method="POST" enctype="multipart/form-data">
          <div class="control-group">
            <div>
              <label>Text</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name="title" value ="<%= title %>">
            </div>
          </div>
          <div>
            <div>
              <label>Image</label>
              <input type="file" class="form-control" id="image" name="image" value ="<%= title %>">
            </div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Tweet</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Custom scripts for this template -->
  <%-include('layouts/scripts');-%>

  
  

</body>

</html>
